* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    text-decoration: none;
}
.bar{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 200px;
}
.bar div input{
    background-color: transparent;
    color: rgb(0, 0, 0);
}
.search{
     border-radius: 9px;
     border-color: rgb(0, 0, 0);
     height: 30px;
     display: flex;
     align-items: center;
     justify-content: center;
}
.search input{
    border: 1px solid ;
    height: 35px;
    width: 180px;
    border-radius: 8px;
}
.bar div ul{
    display: flex;
    gap: 40px;
}
.link-search{
    display: flex;
    gap: 150px;
}
.bar div ul a{
    color: rgb(0, 0, 0);
}
.doctor-boy{
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.aboutus-container{
    background-image: url(/img/Frame\ 1000001998\ \(1\).png);
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 70px;
    gap: 0px;
    width: 1381px;
    margin-left: 70px;

}
.aboutus h1{
    color: white;
}
.aboutus{
    background-color: rgba(94, 224, 136, 1);
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border-bottom-right-radius: 0px;
    font-size: 10px;
    height: 40px;
    border: 2px solid rgb(57, 180, 96);
}
.aboutus-container div h2{
    color: rgba(52, 152, 219, 1);
    font-size: 50px;
}
.text-aboutus{
    display: flex;
    flex-direction: column;
    gap: 52px;
}
.text-aboutus div button{
    background-color: brown;
    border-radius: 25px;
    height: 60px;
    color: white;
    width: 230px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}
.recover-image{
    display: flex;
    justify-content: center;
    align-items: center;
}


footer{
    position: relative;
    height: 600px;
    background-color: rgba(245, 248, 250, 1);
    margin-top: 80px;
}
.footer-container{
    display: flex;
    gap: 300px;
}
.logo-email{
    display: flex;
    gap: 30px;
    height: 400px;
    flex-direction: column;
    margin-left: 60px;
}
.email-subscribe{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}
.email-subscribe div{
    width: 170px;
    height: 50px;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: 1px solid blue;
    color: rgba(62, 52, 193, 0.715);
    cursor: pointer;
}
.email-subscribe input{
    width: 270px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    border: 1px solid blue;
}
.logo-email div p{
    color: rgba(0, 0, 255, 0.656);
    font-size: 16px;
}
.footer-links{
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin-top: 60px;
}
.footer-links div div{
    display: flex;
    height: 250px;
    width: 800px;
    gap: 25px;
}
.quick-links div{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 800px;
}
.quick-links{
    display: flex;
    height: 200px;
    width: 800px;
}
.quick-links div ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.quick-links div h1{
    color: rgba(42, 17, 186, 0.774);
}
.location{
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.location h1{
    color: rgba(0, 0, 255, 0.571);
}
.location p{
    color: rgba(0, 0, 0, 0.485);
}
.footer-icons{
    display: flex;
    gap: 30px;
    position: absolute;
    left: 78px;
    bottom: 65px;
}

.icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.directors{
    position: relative;

}
.picture1{
    position: absolute;
    left: 0px;
    top: 20px;

}
.picture2{
    position: absolute;
    left: 42px;
    top: 16px;
}
.picture3{
    position: absolute;
    left: 46px;
    top: 20px;
}
.directors-text{
    margin-top: 50px;
}
.directors-text div{
    border: 1px solid;
    height: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    
}
.directors-text div p{
    font-size: 18px;
    text-align: start;
}