* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    text-decoration: none;
}
.bar{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 200px;
}
.bar div input{
    background-color: transparent;
    color: rgb(0, 0, 0);
}
.search{
     border-radius: 9px;
     border-color: rgb(0, 0, 0);
     height: 30px;
     display: flex;
     align-items: center;
     justify-content: center;
}
.search input{
    border: 1px solid ;
    height: 35px;
    width: 180px;
    border-radius: 8px;
}
.bar div ul{
    display: flex;
    gap: 40px;
}
.link-search{
    display: flex;
    gap: 150px;
}
.bar div ul a{
    color: rgb(0, 0, 0);
}
.aboutus h1{
    color: white;
}
.aboutus{
    background-color: rgba(94, 224, 136, 1);
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border-bottom-right-radius: 0px;
    font-size: 10px;
    height: 40px;
    border: 2px solid rgb(57, 180, 96);
}
.text-aboutus{
    display: flex;
    justify-content: center;
    align-items: end;
    height: 150px;
}
.expert{
    color: rgba(52, 152, 219, 1);
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}
.expert h2{
    font-size: 32px;
}
.doctors-image{
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 50px;
     margin-bottom: 200px;
}
.see-our{
     display: flex;
     justify-content: center;
     align-items: end;
}
.PRICING{
    margin-top: 120px;
    margin-left: 150px;
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border-bottom-right-radius: 0px ;
    background-color: rgba(94, 224, 136, 1);
    border: 2px solid rgb(57, 180, 96);
}
.PRICING h1{
    color: white;
}
.pricing-text{
    display: flex;
    gap: 500px;
    width: 1250px;
    margin-left: 150px;
    margin-top: 70px;
}
.pricing-text div h1{
    color: rgba(52, 152, 219, 1);
}
.pricing-text-1{
    width: 900px;
}
.space{
    height: 60px;
}
.pricing-pannel{
    background-color: red;
    width: 200px;
    height: 650px;
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    padding: 30px;
    gap: 20px;
}
.line{
    height: 1px;
    width: 200px;
    background-color: aqua;
}