* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    text-decoration: none;
}
.bar{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 200px;
}
.bar div input{
    background-color: transparent;
    color: rgb(0, 0, 0);
}
.search{
     border-radius: 9px;
     border-color: rgb(0, 0, 0);
     height: 30px;
     display: flex;
     align-items: center;
     justify-content: center;
}
.search input{
    border: 1px solid ;
    height: 35px;
    width: 180px;
    border-radius: 8px;
}
.bar div ul{
    display: flex;
    gap: 40px;
}
.link-search{
    display: flex;
    gap: 150px;
}
.bar div ul a{
    color: rgb(0, 0, 0);
    font-family: fantasy;
}
.aboutus h1{
    color: white;
}
.aboutus{
    background-color: rgba(94, 224, 136, 1);
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border-bottom-right-radius: 0px;
    font-size: 10px;
    font-family: fantasy;
    height: 40px;
    border: 2px solid rgb(57, 180, 96);
}
.text-aboutus{
    display: flex;
    justify-content: center;
    align-items: end;
    height: 150px;
}
.expert{
    color: rgba(52, 152, 219, 1);
    font-size: 15px;
    font-family: fantasy;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}
.expert h2{
    font-size: 32px;
    font-family: fantasy;
}
.doctors-image{
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 50px;
     margin-bottom: 200px;
}
.see-our{
     display: flex;
     justify-content: center;
     align-items: end;
}
.PRICING{
    margin-top: 120px;
    margin-left: 150px;
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border-bottom-right-radius: 0px ;
    background-color: rgba(94, 224, 136, 1);
    border: 2px solid rgb(57, 180, 96);
}
.PRICING h1{
    color: white;
}
.pricing-text{
    display: flex;
    gap: 500px;
    width: 1250px;
    margin-left: 150px;
    margin-top: 70px;
}
.pricing-text div h1{
    color: rgba(52, 152, 219, 1);
}
.pricing-text-1{
    width: 900px;
}
.space{
    height: 60px;
}
.pricing-pannel{
    width: 200px;
    height: 550px;
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    padding: 30px;
    gap: 20px;
    border-radius: 25px;
    border: 1px solid rgba(225, 225, 225, 1);
}
.line{
    height: 1px;
    width: 200px;
    background-color: rgba(200, 200, 200, 1);
}
.join-text{
    color: rgba(38, 119, 188, 1) ;
}
.pricing-pannel div p{
    color: black;
    font-size: 13px;
    font-family: fantasy;
}
.prix-text{
    color: rgba(38, 119, 188, 1) ;
}
.prix-text-container{
    display: flex;
    position: relative;
}
.prix-text-container span{
    position: absolute;
    left: 80px;
    top: 16px;
}
.Features-text{
    color: rgba(38, 119, 188, 1) ;
}
.circle{
    background-color: green;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}
.features-container{
    font-size: 7px;
    font-family: fantasy;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    width: 220px;
}
.features-container div{
    display: flex;
    gap: 15px;
    align-items: center;
}
.pricing-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    font-size: 15px;
    font-family: fantasy;
    border-radius: 15px;
    border: 1px solid rgba(255, 111, 97, 1);
    cursor: pointer;
}
.pricing-link a{
    color: rgba(255, 111, 97, 1);
}
.pricing-link2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    font-size: 15px;
    font-family: fantasy;
    border-radius: 15px;
    background-color: rgba(255, 111, 97, 1);
    cursor: pointer;
}
.pricing-link2 a{
    color: rgb(255, 255, 255);
}
.pricing-p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.h{
    color: rgba(150, 150, 150, 1);
}
.bar div ul a:hover{
    color: rgba(231, 135, 135, 0.752);
    
}
.pricing-container{
    display: flex;
    justify-content: center;
    margin-right: 85px;
}

footer{
    position: relative;
    height: 600px;
    background-color: rgba(245, 248, 250, 1);
}
.footer-container{
    display: flex;
    gap: 300px;
}
.logo-email{
    display: flex;
    gap: 30px;
    height: 400px;
    flex-direction: column;
    margin-left: 60px;
}
.email-subscribe{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}
.email-subscribe div{
    width: 170px;
    height: 50px;
    font-size: 11px;
    font-family: fantasy;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: 1px solid blue;
    color: rgba(62, 52, 193, 0.715);
    cursor: pointer;
}
.email-subscribe input{
    width: 270px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    border: 1px solid blue;
}
.logo-email div p{
    color: rgba(0, 0, 255, 0.656);
    font-size: 16px;
    font-family: fantasy;
}
.footer-links{
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin-top: 60px;
}
.footer-links div div{
    display: flex;
    height: 250px;
    width: 800px;
    gap: 25px;
}
.quick-links div{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 800px;
}
.quick-links{
    display: flex;
    height: 200px;
    width: 800px;
}
.quick-links div ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.quick-links div h1{
    color: rgba(42, 17, 186, 0.774);
}
.location{
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.location h1{
    color: rgba(0, 0, 255, 0.571);
}
.location p{
    color: rgba(0, 0, 0, 0.485);
}
.footer-icons{
    display: flex;
    gap: 30px;
    position: absolute;
    left: 78px;
    bottom: 65px;
}

/* doctors profile */
.doctors-profile{
    background-color: rgb(255, 255, 255);
    height: 630px;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 40px;
}
.doctor-image{
    background-color: rgba(245, 248, 250, 1);
    height: 600px;
    width: 362px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border-radius: 30px;
}
.doctor-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.doctor-text h1{
    color: rgba(0, 0, 255, 0.65);
    font-size: 20px;
    font-family: fantasy;
}
.doctor-text h2{
    color: rgba(255, 111, 97, 1);
}


.appointment-book{
    display: flex;
    justify-content: center;
    position: relative;
}
.appointment-book-text{
    position: absolute;
    gap: 30px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    left: 220px;
    top: 80px;
    font-size: 20px;
    font-family: fantasy;
}
.appointment-book-text div{
    background-color: rgba(227, 250, 255, 1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    width: 350px;
    border-radius: 35px;
    font-size: 15px;
    font-family: fantasy;
    cursor: pointer;
}
.appointment-book-text h1{
    color: white;
}
.appointment-book-text p{
    color: white;
}
.doctors-contactus{
         display: flex;
         justify-content: center;
         margin: 80px;
}
.doctors-contactus div{
         background-color: rgba(255, 111, 97, 1);
         display: flex;
         gap: 20px;
         justify-content: center;
         align-items: center;
         padding: 10px;
         border-radius: 25px;
         height: 30px;
         width: 170px;
         cursor: pointer;
}
.doctors-contactus a{
    color: white;
    font-size: 20px;
    font-family: fantasy;
}

.icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}