@font-face {
  font-family: 'Heebo';
  src: url('./fonts/Heebo.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    text-decoration: none;
}

header{
    background-image: url(./img/Frame.png);
    height: 740px;
}
.bar1{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 200px;
}
.bar1 div input{
    background-color: transparent;
    color: rgb(255, 255, 255);
}
.search1{
     border-top: 5px;
     
}
.search1 input{
    border: 1px solid white;
    height: 35px;
    width: 180px;
    border-radius: 8px;
}

.bar1 div ul{
    display: flex;
    gap: 40px;
}
.bar1 div ul a:hover{
    color: rgba(244, 167, 167, 0.726);
    
}
.link-search{
    display: flex;
    gap: 150px;
}
.bar1 div ul a{
    color: rgb(255, 255, 255);
    font-family: fantasy;
}
.body{
    display: flex;
    justify-content: space-around;
    height: 360px;
}
.Space{
    height: 50px;
}
.health-text{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    height: 350px;
    gap: 50px;
}
.book{
   background-color:rgba(255, 111, 97, 1);
   height: 40px;
   width: 180px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 9px;
   border-radius: 20px;
   cursor: pointer;
}
.contact-us{
   background-color:transparent;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 40px;
   width: 100px;
   border: 1px solid white;
   border-radius: 20px;
   cursor: pointer;
}
.contact-us a{
    color: white;
    font-size: 18px;
    font-family: fantasy;
}
.book-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.book a{
    color: white;
    font-family: fantasy;
}
.or{
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}
.health-text div p{
    color: white;
    width: 300px;
    font-family: fantasy , sans-serif;
    font-size: 17px;
}
.health-text-h1{
    background-color: rgba(46, 204, 113, 0.6);
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 330px;
}
.health-text-h1 h1{
    color: white;
    font-size: 16px;
    font-family: fantasy;
}
.book h4{
    color: white;
    font-size: 15px;
    font-family: fantasy;
}
.contact-us h4{
    color: white;
    font-size: 15px;
    font-family: fantasy;
}
.image{
    height: 359px;
}
.health-text div h2{
    color: white;
    font-size: 27px;
    font-family: fantasy
}
.clock-container{
    display: flex;
    gap: 30px;
    margin-left: 175px;
    margin-top: 60px;
    height:100px;
}
.clock{
    background-color: rgba(94, 224, 136, 1);
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}
.clock-text h1{
    color: white;
    font-size: 20px;
    font-family: fantasy;
}
.clock-text h2{
    color: white;
    font-size: 16px;
    font-family: fantasy;
}
.clock-text{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}
.clock-doctors{
    display: flex;
    gap: 345px;

}
.doctors-avai{
    background-color: rgba(255, 255, 255, 1);
    height: 230px;
    width: 465px;
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px;
}
.image-ads{
    display: flex;
    gap: 90px;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.search-box{
    height: 40px;
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid;
    border-radius: 11px;
}
.search-box-container{
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  
}
.search-box h1{
    font-size: 14px;
    left: 10px;
    color: rgba(150, 150, 150, 1) ;
    font-family: fantasy;
}
.line{
    background-color: yellowgreen;
    height: 2px;
    width: 120px;
}
.check-doctors div h1{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: fantasy;
}
.check-container{
    background-color: rgba(255, 111, 97, 1);
    height: 40px;
    width: 270px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.check-doctors{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
}
.health-text div h2{
    font-size: 40px;
    font-family: fantasy;
}
.icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
/* Services css */ 

.PRICING{
    margin-top: 120px;
    margin-left: 150px;
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border-bottom-right-radius: 0px ;
    background-color: rgba(94, 224, 136, 1);
    border: 2px solid rgb(57, 180, 96);
}
.PRICING h1{
    color: white;
}
.pricing-text{
    display: flex;
    gap: 200px;
    width: 1250px;
    margin-left: 150px;
    margin-top: 70px;
}
.pricing-text div h1{
    color: rgba(52, 152, 219, 1);
}
.pricing-text-1{
    width: 1500px;
}
.space{
    height: 60px;
}
.pricing-pannel{
    width: 250px;
    height: 260px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 20px;
    border-radius: 25px;
    border: 1px solid rgba(225, 225, 225, 1);
    background-color: white;
}
.line1{
    height: 1px;
    width: 80px;
    background-color: rgba(200, 200, 200, 1);
}
.join-text{
    color: rgba(38, 119, 188, 1) ;
}
.pricing-pannel div p{
    color: black;
    font-size: 13px;
    font-family: fantasy;
}
.prix-text{
    color: rgba(38, 119, 188, 1) ;
}
.prix-text-container{
    display: flex;
    position: relative;
}
.prix-text-container span{
    position: absolute;
    left: 80px;
    top: 16px;
}
.Features-text{
    color: rgba(38, 119, 188, 1) ;
}
.circle{
    background-color: green;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}
.features-container{
    font-size: 7px;
    font-family: fantasy;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    width: 220px;
}
.features-container div{
    display: flex;
    gap: 15px;
    align-items: center;
}
.pricing-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    width: 120px;
    font-size: 12px;
    font-family: fantasy;
    border-radius: 30px;
    border: 1px solid rgba(255, 111, 97, 1);
    cursor: pointer;
}
.pricing-link a{
    color: rgba(255, 111, 97, 1);
}
.pricing-link2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    font-size: 15px;
    font-family: fantasy;
    border-radius: 15px;
    cursor: pointer;
}
.pricing-link2 a{
    color: rgb(255, 255, 255);
}
.pricing-p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.h{
    color: rgba(150, 150, 150, 1);
}
.pricing-container{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.pricing-container2{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 40px;
}
.aboutus1{
    background-color: rgba(94, 224, 136, 1);
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border-bottom-right-radius: 0px;
    font-size: 10px;
    font-family: fantasy;
    height: 40px;
    border: 2px solid rgb(57, 180, 96);
    margin-top: 30px;
    margin-left: 150px;
}
.text-aboutus1{
    margin-top: 50px;
}

/* our Doctors */ 

.aboutus2 h1{
    color: white;
}
.aboutus2{
    background-color: rgba(94, 224, 136, 1);
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border-bottom-right-radius: 0px;
    font-size: 10px;
    font-family: fantasy;
    height: 40px;
    border: 2px solid rgb(57, 180, 96);
}
.text-aboutus2{
    display: flex;
    justify-content: center;
    align-items: end;
    height: 150px;
}
.expert2{
    color: rgba(52, 152, 219, 1);
    font-size: 15px;
    font-family: fantasy;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}
.expert2 h2{
    font-size: 32px;
    font-family: fantasy;
}
.doctors-image2{
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 50px;
     margin-bottom: 200px;
}
.see-our2{
     display: flex;
     justify-content: center;
     align-items: end;
}
.PRICING2{
    margin-top: 120px;
    margin-left: 150px;
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border-bottom-right-radius: 0px ;
    background-color: rgba(94, 224, 136, 1);
    border: 2px solid rgb(57, 180, 96);
}
.PRICING2 h1{
    color: white;
}
.pricing-text2{
    display: flex;
    gap: 500px;
    width: 1250px;
    margin-left: 150px;
    margin-top: 70px;
}
.pricing-text2 div h1{
    color: rgba(52, 152, 219, 1);
}
.pricing-text-12{
    width: 900px;
}
.space2{
    height: 60px;
}
.pricing-pannel2{
    width: 200px;
    height: 590px;
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    padding: 30px;
    gap: 20px;
    border-radius: 25px;
    border: 1px solid rgba(225, 225, 225, 1);
}
.line2{
    height: 1px;
    width: 200px;
    background-color: rgba(200, 200, 200, 1);
}
.join-text2{
    color: rgba(38, 119, 188, 1) ;
}
.pricing-pannel2 div p{
    color: black;
    font-size: 13px;
    font-family: fantasy;
}
.prix-text2{
    color: rgba(38, 119, 188, 1) ;
}
.prix-text-container2{
    display: flex;
    position: relative;
}
.prix-text-container2 span{
    position: absolute;
    left: 80px;
    top: 16px;
}
.Features-text2{
    color: rgba(38, 119, 188, 1) ;
}
.circle2{
    background-color: green;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}
.features-container2{
    font-size: 7px;
    font-family: fantasy;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    width: 220px;
}
.features-container2 div{
    display: flex;
    gap: 15px;
    align-items: center;
}
.pricing-link2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    font-size: 15px;
    font-family: fantasy;
    border-radius: 15px;
    border: 1px solid rgba(255, 111, 97, 1);
    cursor: pointer;
}
.pricing-link2 a{
    color: rgba(255, 111, 97, 1);
}
.pricing-link22{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    font-size: 15px;
    font-family: fantasy;
    border-radius: 15px;
    background-color: rgba(255, 111, 97, 1);
    cursor: pointer;
}
.pricing-link22 a{
    color: rgb(255, 255, 255);
}
.pricing-p2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.h{
    color: rgba(150, 150, 150, 1);
}
.pricing-container3{
    display: flex;
    justify-content: center;
    margin-right: 86px;
}

/* footer */

footer{
    position: relative;
    height: 600px;
    background-color: rgba(245, 248, 250, 1);
}
.footer-container{
    display: flex;
    gap: 100px;
}
.logo-email{
    display: flex;
    gap: 30px;
    height: 400px;
    flex-direction: column;
    margin-left: 60px;
}
.email-subscribe{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}
.email-subscribe div{
    width: 170px;
    height: 50px;
    font-size: 11px;
    font-family: fantasy;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: 1px solid blue;
    color: rgba(62, 52, 193, 0.715);
    cursor: pointer;
}
.email-subscribe input{
    width: 270px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    border: 1px solid blue;
}
.logo-email div p{
    color: rgba(0, 0, 255, 0.656);
    font-size: 16px;
    font-family: fantasy;
}
.footer-links{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 60px;
}
.footer-links div div{
    display: flex;
    height: 250px;
    width: 800px;
    gap: 25px;
}
.quick-links div{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 300px;
}
.quick-links{
    display: flex;
    height: 200px;
    width: 300px;
}
.quick-links div ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.quick-links div ul a:hover{
    color: rgb(125, 111, 111);
}
.quick-links div h1{
    color: rgba(42, 17, 186, 0.774);
}
.location{
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.location h1{
    color: rgba(0, 0, 255, 0.571);
}
.location p{
    color: rgba(0, 0, 0, 0.485);
}
.footer-icons{
    display: flex;
    gap: 30px;
    position: absolute;
    left: 78px;
    bottom: 65px;
}


/* appointment */

.appointment-container{
    background-image: url(../img/Frame.png);
    height: 915px;
    width: 1445px;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 45px;
}
.appointment{
    background-color: white;
    height: 650px;
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px 50px 50px 50px;
    border-radius: 20px;
}
.appointment div h1{
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: fantasy;
}
.contac-book{
    background-color: rgba(45, 193, 45, 0.665);
    height: 7%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border-bottom-right-radius: 0px;
    border: 1px solid green;
    margin-left: 30px;
}
.appointment div h2{
    color: rgba(40, 37, 221, 0.698);
    font-size: 25px;
    margin-left: 25px;
    font-family: fantasy;
}
.appointment div div input{
    border: 1px solid;
    height: 40px;
    width: 350px;
    border-radius: 10px;
}
.contac-input{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    position: relative;
    
}
.contac-input p{
    position: absolute;
    text-decoration: solid;
}
.description{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    margin-left: 29px;
}
.description input{
    border: 1px solid;
    height: 150px;
    width: 740px;
    border-radius: 10px;
}
.touch-send2{
        background-color: rgba(255, 111, 97, 1);
        height: 40px;
        width: 745px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        cursor: pointer;
        margin-left: 27px;
        
}

.doctors-profile{
    background-color: rgb(255, 255, 255);
    height: 630px;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 40px;
}
.doctor-image{
    background-color: rgba(245, 248, 250, 1);
    height: 600px;
    width: 362px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border-radius: 30px;
}
.doctor-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.doctor-text h1{
    color: rgba(0, 0, 255, 0.65);
    font-size: 20px;
    font-family: fantasy;
}
.doctor-text h2{
    color: rgba(255, 111, 97, 1);
}

.more-about{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 111, 97, 1);
    height: 50px;
    width: 190px;
    border-radius: 30px;
    gap: 20px;
    cursor: pointer;
}
.more-about a{
    color: white;
    font-size: 16px;
    font-family: fantasy;
}

.more-about2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 111, 97, 1);
    height: 50px;
    width: 210px;
    border-radius: 30px;
    gap: 20px;
    cursor: pointer;
}
.more-about2 a{
    color: white;
    font-size: 16px;
    font-family: fantasy;
}
.more-about2-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.appointment-book{
    display: flex;
    justify-content: center;
    position: relative;
}
.appointment-book-text{
    position: absolute;
    gap: 30px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    left: 220px;
    top: 80px;
    font-size: 20px;
    font-family: fantasy;
}
.appointment-book-text div{
    background-color: rgba(227, 250, 255, 1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    width: 350px;
    border-radius: 35px;
    font-size: 15px;
    font-family: fantasy;
    cursor: pointer;
}
.appointment-book-text h1{
    color: white;
}
.appointment-book-text p{
    color: white;
}

.more-plan{
    margin: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.more-plan div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 111, 97, 1);
    height: 50px;
    width: 250px;
    border-radius: 30px;
    cursor: pointer;
    gap: 20px;
}
.more-plan div h1{
    font-size: 25px;
    font-family: fantasy;
    color: white;
}

.directors{
    position: relative;

}
.picture1{
    position: absolute;
    left: 0px;
    top: 20px;

}
.picture2{
    position: absolute;
    left: 42px;
    top: 16px;
}
.picture3{
    position: absolute;
    left: 46px;
    top: 20px;
}
.directors-text{
    margin-top: 50px;
}
.directors-text div{
    border: 1px solid;
    height: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    
}
.directors-text div p{
    font-size: 18px;
    font-family: fantasy;
    text-align: start;
}